@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 我的EasyUI</title>
    @Styles.Render("~/Content/themes")

</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:40px;">@Html.Partial("_LayoutTopPartial")</div>
    <div data-options="region:'west',split:true,title:'功能导航'" style="width:200px;">
        <div id="menu" class="easyui-accordion">
        </div>
    </div>
    <div data-options="region:'south',border:false" style="height:50px;padding:10px;">south region</div>
    <div data-options="region:'center'">
        <div id="tabs" class="easyui-tabs" data-options="tools:'#tab-tools',fit:true,border:false">
            <div id="home" title="我的主页" data-options="iconCls:'icon-house',closable:false">
                This is the Home content.
            </div>
        </div>
    </div>
    @Html.Partial("_LayoutPartial")
    @Scripts.Render("~/Content/easyuijs")
</body>
</html>

