<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 我的EasyUI</title>
    @System.Web.Optimization.Styles.Render("~/Content/themes")
    @System.Web.Optimization.Scripts.Render("~/Content/easyuijs")
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:40px;">@Html.Partial("_LayoutTopPartial")</div>
    <div data-options="region:'west',split:true,title:'West'" style="width:200px;padding:10px;">@Html.Partial("_LayoutPartial")</div>
    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
    <div data-options="region:'center',title:'Center'">
        @RenderBody()
    </div>
</body>
</html>
